In [1]:
from sklearn import datasets
import pandas as pd

In [2]:
iris = datasets.load_iris()
X = pd.DataFrame(iris["data"], columns=iris["feature_names"])
y = pd.DataFrame(iris["target"], columns=["label"])
data = pd.concat([X,y], axis=1)
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 1.For categorical variables

### (1) Count

In [3]:
# we can use the function, value_counts(), in pandas
# there are five parameters for different needings
# (1) normalize , (2) sort , (3) ascending , (4) bins and (5) dropna 
data["label"].value_counts()

2    50
1    50
0    50
Name: label, dtype: int64

### (2) groupby

In [4]:
# Or we can use the functions, groupby() and size(), to count 
data.groupby(["label"]).size()

label
0    50
1    50
2    50
dtype: int64

## 2.For continuous variables

In [5]:
data.sum()

sepal length (cm)    876.5
sepal width (cm)     458.1
petal length (cm)    563.8
petal width (cm)     179.8
label                150.0
dtype: float64

In [6]:
data.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.054000
petal length (cm)    3.758667
petal width (cm)     1.198667
label                1.000000
dtype: float64

In [7]:
data.max()

sepal length (cm)    7.9
sepal width (cm)     4.4
petal length (cm)    6.9
petal width (cm)     2.5
label                2.0
dtype: float64

In [8]:
data.min()

sepal length (cm)    4.3
sepal width (cm)     2.0
petal length (cm)    1.0
petal width (cm)     0.1
label                0.0
dtype: float64

In [9]:
data.median()

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
label                1.00
dtype: float64

In [10]:
data.agg(["max", "min", "mean", "median", "sum"])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
max,7.900000,4.400,6.900000,2.500000,2.0
min,4.300000,2.000,1.000000,0.100000,0.0
mean,5.843333,3.054,3.758667,1.198667,1.0
median,5.800000,3.000,4.350000,1.300000,1.0
sum,876.500000,458.100,563.800000,179.800000,150.0

## 3.Both

In [11]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

## 4.Categorical variables and continuous variables

In [12]:
# use groupby() and get_group() to get the specified data
data.groupby(["label"]).get_group(1).head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1

In [13]:
# use groupby() and agg() to calculate the mean, sum, max or min, etc
data.groupby(["label"]).agg(["max", "min", "mean", "sum"])

      sepal length (cm)                    sepal width (cm)              \
                    max  min   mean    sum              max  min   mean
label
0                   5.8  4.3  5.006  250.3              4.4  2.3  3.418
1                   7.0  4.9  5.936  296.8              3.4  2.0  2.770
2                   7.9  4.9  6.588  329.4              3.8  2.2  2.974

             petal length (cm)                    petal width (cm)       \
         sum               max  min   mean    sum              max  min
label
0      170.9               1.9  1.0  1.464   73.2              0.6  0.1
1      138.5               5.1  3.0  4.260  213.0              1.8  1.0
2      148.7               6.9  4.5  5.552  277.6              2.5  1.4


        mean    sum
label
0      0.244   12.2
1      1.326   66.3
2      2.026  101.3

In [14]:
# for another using, agg() could be customized for each column
data.groupby(["label"]).agg({"sepal length (cm)":"max", "sepal width (cm)":"min"})

       sepal length (cm)  sepal width (cm)
label
0                    5.8               2.3
1                    7.0               2.0
2                    7.9               2.2

In [15]:
# if using the function, reset_index(), it will adding a new columns in the first column
data.groupby(["label"]).agg({"sepal length (cm)":"max", "sepal width (cm)":"min"}).reset_index()

   label  sepal length (cm)  sepal width (cm)
0      0                5.8               2.3
1      1                7.0               2.0
2      2                7.9               2.2